<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="An app that will help you to organize your personal cashflow.">
    <meta name="dicoding:email" content="yusril_putra56@yahoo.co.id">
    <title>Wager - Wallet Manager</title>
</head>

<body class="grey lighten-2">
    <a href="#main-content" class="blue lighten-1 skip-link">Skip to content</a>
    <content-wrapper></content-wrapper>
</body>

</html>