<header>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <button class="waves-effect waves-light trigger-element back-trigger" aria-label="Back"><i
                    class="material-icons" aria-label="Back">arrow_back</i></button>
            <span class="brand-logo center">About</span>
        </div>
    </nav>
</header>

<main class="about">
    <section class="about">
        <div class="container">
            <div class="card white">
                <div class="card-content">
                    <h1>Wager</h1>

                    <p>Wager (Wallet Manager) is an app that will help you to organize your personal cashflow. You can add or delete transaction and the app will help you calculate your income, cash and balance in one month. The app also have a growth feature that help you know how your balance in last 3 months. Wager is an progressive webs app so you can save this as an native app in desktop and phone.</p>

                    <h2>Credit</h2>
                    <ul>
                        <li>App created by Yusril Adriansyah P.</li>
                        <li>Logo created by Dwi Randi R.</li>
                        <li><a href="https://www.freepik.com/vectors/infographic">Infographic vector created by dooder</a></li>
                        <li><a href="https://idcamp.indosatooredoo.com/">Indosat Ooredoo Digital Camp</a></li>
                        <li><a href="https://www.dicoding.com/">Dicoding</a></li>
                    </ul>
                </div>

                <div class="card-action">
                    <a href="https://www.instagram.com/yusril_adr"><i class="fab fa-instagram" aria-label="Instagram"></i></a>
                    <a href="https://www.facebook.com/yusril.adr"><i class="fab fa-facebook" aria-label="Facebook"></i></a>
                    <a href="https://github.com/yusril-adr"><i class="fab fa-github" aria-label="Github"></i></a>
                </div>
            </div>
        </div>
    </section>
</main>