<header>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <button class="waves-effect waves-light trigger-element back-trigger" aria-label="Back"><i
                    class="material-icons" aria-label="Back">arrow_back</i></button>
            <span class="brand-logo center">Detail</span>
        </div>
    </nav>
</header>

<main class="detail">
    <section class="transaction">
        <div class="container">
            <div class="row">
                <detail-item></detail-item>
            </div>
        </div>
    </section>
</main>