<header>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <button class="waves-effect waves-light trigger-element back-trigger" aria-label="Back"><i
                    class="material-icons" aria-label="Back">arrow_back</i></button>
            <span class="brand-logo center">Growth</span>
        </div>
    </nav>
</header>

<main class="growth">
    <section class="total">
        <div class="container">
            <div class="row">
                <div class="card white col s12 m8 l6 offset-m2 offset-l3">
                    <div class="card-content">
                        <balance-total></balance-total>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="three-months">
        <div class="container">
            <div class="row">
                <div class="card white col s12 m8 l6 offset-m2 offset-l3">
                    <div class="card-content">
                        <span class="sub-title">Last 3 Months <hr></span>

                        <month-balance></month-balance>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>