<header>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <button class="waves-effect waves-light trigger-element back-trigger" aria-label="Back"><i
                    class="material-icons" aria-label="Back">arrow_back</i></button>
            <span class="brand-logo center">Save app</span>
        </div>
    </nav>
</header>

<main class="save">
    <section class="save">
        <div class="container">
            <div class="card white">
                <div class="card-content">
                    <h1>Save Wager</h1>

                    <h2>IOS</h2>
                    <ol>
                        <li>Tap the Share button on Safari</li>
                        <li>Find by slide to the right “Add to Home Screen.”</li>
                        <li>Tap it, then tap Add (top right)</li>
                    </ol>

                    <h2>Android</h2>
                    <ol>
                        <li>Tap Settings (Top right corner) on Chrome</li>
                        <li>Slide down and tap “Add to Home Screen.”</li>
                    </ol>

                    <h2>Desktop and Mac</h2>
                    <ol>
                        <li>Go to Settings (top right corner)</li>
                        <li>Click Install “Wager”</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</main>