<header>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <button class="waves-effect waves-light trigger-element back-trigger" aria-label="Back"><i
                    class="material-icons" aria-label="Back">arrow_back</i></button>
            <span class="brand-logo center">Setting</span>
        </div>
    </nav>
</header>

<main class="setting">
    <section class="user">
        <div class="container">
            <div class="row">
                <div class="card white col s12 m8 l6 offset-m2 offset-l3">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s2">
                                <i class="material-icons cyan-text text-darken-3" aria-label="Name">account_box</i>
                            </div>
                            <div class="col s1">
                                <span>:</span>
                            </div>
                            <div class="input-field col s9">
                                <input id="name" type="text" autocomplete="off">
                                <label for="name">Name</label>
                            </div>

                            <div class="col s2">
                                <i class="material-icons cyan-text text-darken-3" aria-label="Email">email</i>
                            </div>
                            <div class="col s1">
                                <span>:</span>
                            </div>
                            <div class="input-field col s9">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        <button class="waves-effect waves-light pink accent-2 btn" id="delete" aria-label="Delete All List">
                            Delete All
                        </button>

                        <button class="waves-effect waves-light blue darken-2 btn" id="save" aria-label="Save">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>