<header>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
            <button class="waves-effect waves-light trigger-element back-trigger" aria-label="Back"><i
                    class="material-icons" aria-label="Back">arrow_back</i></button>
            <span class="brand-logo center">Share</span>
        </div>
    </nav>
</header>

<main class="share">
    <section class="share">
        <div class="share-image" id="image">
            <h1>Congratulation!</h1>
            <h2 id="name"></h2>

            <h3>Your growth rate is</h3>

            <div class="percent-container">
                <span id="percentage"></span>
            </div>

            <img src="../../public/share-image.jpg" alt="Illustration">

            <span>Share it to your friend and make them more excited to rise their growth too.</span>
        </div>

        <button class="waves-effect waves-light btn" id="share"><i class="material-icons left">share</i>Download for Share</button>
    </section>
</main>